* {
    cursor: url(./amon\ gus.cur), pointer;
    font-family: 'Inter';
}
html {
	scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: rgb(12, 12, 12);
}

header {
	background-color: #ed2860;
	color: #fff;
	padding: 32px;
	border-radius: 0% 0% 0% 0%;
}
header h1 {
	margin: 0;
}
main h2 {
	color: aliceblue;
	font-family: 'Roboto';
	animation: --cor--de--animacao 7s infinite ease-in-out;
	text-align: center;
}
.produto-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.produto-container li {
    margin: 20px;
    flex-basis: calc(50% - 210px);
}
h1, nav {
    display: flex;
}
nav {
    justify-content: space-evenly;
}
nav a {
    color: aliceblue;
	font-size: 21px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
	transition:.2s linear;
	cursor: url(./cursor-heath.cur), pointer;
}
nav a:hover {
	transform: translate(10px, 0px);
	color: #e794ac;
}
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}
li {
  margin: 20px;
  flex-basis: calc(50% - 40px);
  background-color: #e6e6e6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}
li img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-bottom: 10px;
    box-shadow: #33333360 0px 0px 5px 5px;
}
li h3 {
	font-size: 18px;
	margin: 0;
    text-align: center;
}
li p {
	font-size: 16px;
	margin: 10px 0;
	text-align: center;
}
button {
	background-color: #a92929;
	color: #fff;
	width: 170px;
	padding: 10px 20px;
	border: none;
	border-radius:0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .3s;
	cursor: url(./cursor-head.cur), pointer;
}
button:hover {
    background-color: #35c035;
    cursor: url(./cursor-head.cur);
}
footer {
    background-color: #ed2860;
    color: #fff;
    padding: 20px;
    text-align: center;
}

@keyframes --cor--de--animacao {
	1% {
		color: #00FF00;
	}

	25% {
		color: #ed2860;
	}

	50% {
		color: aqua;
	}

	75% {
		color: chartreuse;
	}

	100% {
		color: #ed2860;
	}
}

::-webkit-scrollbar {
    display: none;
}

seletor {
    cursor: url(./amon\ gus.cur);
} 

seletor button {
	cursor: url(./cursor-head.cur);
}

seletor a {
	cursor: url(./cursor-heath.cur);
}


@media (min-width: 600px) and ( max-width: 800px) {
.produto-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main h2 {
	display: none;
}

.produto-container li {
  display: inline-block;
  margin: 10px;
}

.produto-container img {
  width: 150px;
}

header {
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

li:nth-child(1) {
	margin-left: 50px;
}
li:nth-child(3) {
	margin-left: 50px;
}
li:nth-child(5) {
	margin-left: 50px;
}
}

@media (min-width: 100px) and (max-width: 599px){

	main h2 {
		display: none;
	}

	li {
		padding: 5px;
	}

	li button {
		width: 100px;
		font-size: 10px;
	}

	img {
		width: 400px;
	}

	.produto-container {
		margin: 0;
		padding: 0;
		margin-left: 40px;
	}

	html {
		width: 70vh;
	}
}

@media (min-height: 101px) and (max-height: 601) {
	main h2 {
		display: none;
	}
}
